* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 2vmax;

    display: flex;
    justify-content: center;
}

#calculator {
    /* height: 110mm;
    width: 64mm; */
    width: fit-content;
    padding: 1vmax;

    background-color: #2863a0;
    color: #f6f6f6;

    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #000000;
}

#display {
    height: 3rem;
    padding: 0.2rem;

    font-family: 'Courier New', Courier, monospace;

    background-color: #c9d0c8;
    color: #000000;

    border: 1px solid #000000;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
}

#indicators {
    font-size: 1rem;
    text-align: left;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#number {
    font-size: 2.6rem;
    text-align: right;
}

#text {
    padding-block: 0.2rem;

    font-size: 2rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

#buttons {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
}

.column {
    width: 4rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
}

.gap {
    width: 2rem;
}

.button {
    height: 3rem; 
    padding: 0.3rem;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1rem;

    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #000000;
}

.function, .operand {
    background-color: #ba403c;
    color: #f6f6f6;
}

.digit  {
    background-color: #f6f6f6;
    color: #2863a0;
}

#equals {
    height: 6.3rem; /* two buttons plus gap */
}